In [5]:
import math

In [6]:
math.pi

3.141592653589793

In [7]:
def vol(rad):
    return (4/3)*math.pi*(rad**3)

In [8]:
vol(2)

33.510321638291124

In [16]:
def ran_check(num,low,high):
    if num in range(low,high):
        return '%s is in the range' %str(num)
    else:
        return 'The num is outside the range'

In [17]:
ran_check(5,2,7)

'5 is in the range'

In [18]:
def ran_bool(num,low,high):
    return num in range(low, high)

In [19]:
ran_bool(3,1,10)

True

In [33]:
def up_low(s):
    d={'upper':0, 'lower':0}
    for i in s:
        if i.isupper():
            d['upper'] += 1
        elif i.islower():
            d['lower'] += 1
        else:
            pass
    print("Original String: ", s)
    print("No. of Upper Characters: ", d['upper'])
    print("No. of Lower Characters: ", d['lower'])

In [34]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String:  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper Characters:  4
No. of Lower Characters:  33

In [41]:
def unique_list(lst):
    x = []
    for a in lst:
        if a not in x:
            x.append(a)
    return x

In [42]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [43]:
def multiply(numbers):
    res = 1
    for i in numbers:
        res *= numbers[i]
    return res

In [44]:

multiply([1,2,3,-4])

-24

In [57]:
def palindrome(s):
    return "".join([char for char in s][::-1]) == s

In [59]:
palindrome("helleh")

True

In [60]:
palindrome('madam')

True

In [61]:
palindrome("run")

False