In [1]:
mylist = [1,2,3]

In [2]:
myset = set()

In [3]:
type(myset)

set

In [4]:
type(mylist)

list

In [5]:
class Sample():
    pass

In [6]:
my_sample = Sample()

In [7]:
type(my_sample)

__main__.Sample

In [72]:
class Dog():
    # class object attribute
    # same for any instance of class
    species = 'mammal'
        
    def __init__(self, mybreed, name, spot):
        
        
        
        # Attributes
        # We take in the argument
        # Assign it using self.attribue_name
        self.breed = mybreed
        self.name = name
        
        # Expect boolean True/False
        self.spot = spot
       
    # operations/action ---> Methods
    def bark(self,number):
        print("Woof! My name is {} and the number is {}".format(self.name, number))

In [73]:
my_dog = Dog('Huskie', 'KiKi',False )

In [74]:
type(my_dog)

__main__.Dog

In [75]:
my_dog.breed

'Huskie'

In [76]:
my_dog.name

'KiKi'

In [77]:
my_dog.spot

False

In [78]:
my_dog.species

'mammal'

In [80]:
my_dog.bark(3)

Woof! My name is KiKi and the number is 3

In [106]:
class Circle():
    # class object attribute
    pi = 3.14
    
    def __init__(self, radius = 1):
        self.radius = radius
        self.area = radius*radius*Circle.pi
    
    # method
    def get_circumference(self):
        return self.radius * Circle.pi * 2

In [107]:
my_circle = Circle(30)

In [108]:
my_circle.get_circumference()

188.4

In [109]:
my_circle.area

2826.0