In [2]:
%%writefile myfile.txt
Hello this is a text file

Writing myfile.txt

In [3]:
myfile = open("myfile.txt")

In [4]:
pwd

'/Users/trankhuong/Desktop/PythonBasic/simple example'

In [5]:
myfile.read()

'Hello this is a text file\n'

In [5]:
with open("myfile.txt") as my_new_file:
    contents = my_new_file.read()

In [6]:
contents

'Hello this is a text file\n'

In [7]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND 
THREE ON THIRD

Writing my_new_file.txt

In [8]:
with open("my_new_file.txt", mode="r") as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [9]:
with open("my_new_file.txt", mode="a") as f:
    f.write('\nFOUR ON FOURTH')

In [10]:
with open("my_new_file.txt", mode="r") as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

FOUR ON FOURTH

In [12]:
with open("qwerty.txt", mode="w") as f:
    f.write("I created this file!")

In [13]:
with open("qwerty.txt", mode="r") as f:
    print(f.read())

I created this file!